/* Importamos tipografia */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

/* Normalizamos las reglas por defecto del CSS/Navegador */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Colocamos las variables de colores */
:root{
    --blue1: #06283D;
    --blue2: #1363DF;
    --blue3: #47B5FF;
    --blue4: #DFF6FF;
}

body{
    background: linear-gradient(to bottom, var(--blue1), var(--blue2));
    height: 100vh;
    font-family: 'Dosis', sans-serif;
}


.container{
    max-width: 80%;
    width: 400px;
    height: 660px;
    margin: 0 auto;
}

/* Perfil */

.perfil h1{
    color: var(--blue4);
}

.perfil span{
    color: var(--blue4);
}

#fecha{
    color: var(--blue4);
    padding: 50px 0px 5px 0px;
}

/* Agregar tarea */

.agregar-tarea{
    background-color: var(--blue4);
    border-radius: 15px;
    height:  50px;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 70px;
    margin: 20px 0;
}

.agregar-tarea input{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--blue4);
}

.agregar-tarea i{
    font-size: 35px;
    color: var(--blue2);
}

.agregar-tarea i:hover{
    transform: scale(1.1);
    color: var(--blue1);
    cursor: pointer;
}

.agregar-tarea input::placeholder{
    font-size: 1.1rem;
    color: var(--blue2);
}

/* Seccion de tarea */
.seccion-tarea h3{
    color: var(--blue4);
    margin-bottom: 20px;
}

.seccion-tarea li{
    display: flex;
    background: linear-gradient(to bottom, var(--blue3), var(--blue2));
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    color: var(--blue4);
}

.seccion-tarea i{
    font-size: 25px;
    cursor: pointer;
}

.seccion-tarea > ul p{
    font-size: 1.2rem;
}

.line-throuhg{
    text-decoration: line-through;
    color: darkblue;
}